@mixin fontRoboto($weight, $size, $lh, $color) {
    font-family: "Roboto", sans-serif;
    font-weight: $weight;
    font-size: $size;
    line-height: $lh;
    color: $color;
}

@mixin fontBadScript($weight, $size, $lh, $color) {
    font-family: "BadScript", sans-serif;
    font-weight: $weight;
    font-size: $size;
    line-height: $lh;
    color: $color;
}