$main: rgba(255, 253, 245, 1);
$second: rgba(18, 18, 18, 1);
$accent: rgba(81, 74, 126, 1);
$font: rgba(125, 125, 125, 1);

$mobilePaddingX: 10px;
$tabletPaddingX: 10px;
$desktopPaddingX: 135px;

$tablet-width: 768px;
$desktop-width: 1440px;

