.button {
    background-color: $accent;
    width: 148px;
    height: 37px;
}
.button__txt {
    font-family: "Roboto", sans-serif;
    color: $main;
    padding-right: 9px;
}
.button__arrow {
    width: 25px;
    & > g > path {
        fill: $main;
    }
}
.button--big-circle {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    position: relative;

    @media (min-width: $tablet-width) {
        width: 193px;
        height: 193px;
    }

    & > .button__txt {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        position: absolute;
        top: 50px;
        left: 24px;
        @media (min-width: $tablet-width) {
            font-size: 20px;
            line-height: 23px;
            top: 73px;
            left: 30px;
        }
    }
    & > .button__arrow {
        width: 50px;
        position: absolute;
        bottom: 45px;
        right: 23px;

        @media (min-width: $tablet-width) {
            width: 79px;
            bottom: 68px;
            right: 30px;
        }
    }
}
.button--chameleon {
    @media (min-width: $tablet-width) {
        background-color: $main;
        border: 1px solid $accent;

        & > .button__arrow {
            & > g > path {
                fill: $accent;
            }
        }

        & > .button__txt {
            color: $accent;
        }
    }

    & > .button__txt {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
}