.container {
    padding: 0 $mobilePaddingX;
    max-width: $desktop-width - $desktopPaddingX * 2;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
        padding: 0 $tabletPaddingX;
    }
}