.header {
    display: none;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;

    @media (min-width: $tablet-width) {
        display: flex;
    }
}
.header__burger {
    width: 36px;
    height: 36px;
}
.header__list {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header__item {
    line-height: 0;
    &:first-of-type {
        display: flex;
        gap: 19px;
        margin-right: 24px;
    }
}
.header__input {
    border: none;
    border-bottom: .5px solid $font;
    width: 308px;
}