.section {
    text-align: center;
}
.section__wrap {
    position: relative;
}
.section__title {
    @include fontRoboto(300, 25px, 22px, $second);
    text-align: center;
    padding-bottom: 30px;
    overflow: hidden;

    @media (min-width: $tablet-width) {
        text-align: left;
        font-size: 40px;
        line-height: 35px;

        &:first-of-type {
            padding-bottom: 94px;
        }
    }

    &--decorate {
        padding-bottom: 60px;
        position: relative;

        &::after {
            content: 'Акции';
            display: block;
            @include fontBadScript(400, 25px, 22px, $accent);
            transform: translate(108px, 2px);

            @media (min-width: $tablet-width) {
                font-size: 40px;
                line-height: 35px;
                transform: translate(265px, -4px);
            }
        }
    }
}
.section__advantages-swiper {
    width: calc(100% - 2 * 20px);

    @media (min-width: $tablet-width) {
        width: 100%;
        min-width: $tablet-width;
        max-width: 1029px;
        margin: 0;
        overflow: visible;
    }
}
.section__advantages-list {
    @media (min-width: $tablet-width) {
        flex-wrap: wrap;
        justify-content: flex-start;
        row-gap: 98px;
    }
}
.section__advantages-text {
    @include fontRoboto(300, 14px, 16px, $main);
    display: flex;
    align-items: center;
    text-align: center;

    @media (min-width: $tablet-width) {
        width: 184px;
        color: $font;
        text-align: left;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            background-color: $accent;
            border-radius: 50%;
            box-shadow: 0px 4px 10px rgba(81, 74, 126, 0.4);
        }
    }
}
.section__advantages-item {
    background-color: $accent;
    display: block;
    width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 25px 8px;

    @media (min-width: $tablet-width) {
        background-color: transparent;
        padding: 0;
        height: auto;
        width: auto;

        &:nth-of-type(-n + 2) > .section__advantages-text, &:nth-of-type(5) > .section__advantages-text {
            width: 175px;
        }
        &:nth-last-of-type(-n + 2) {
            flex-basis: 45%;
        }
        &:nth-of-type(-n + 4) {
            justify-content: flex-start;
            flex-basis: 25%;
        }
        &:first-of-type > .section__advantages-text, &:last-of-type > .section__advantages-text {
            &::after {
                width: 28px;
                height: 28px;
            }
        }
        &:first-of-type > .section__advantages-text {
            &::after {
                bottom: -14px;
                right: 40px;
            }
        }
        &:last-of-type > .section__advantages-text {
            &::after {
                top: -8px;
                right: -10px;
            }
        }
        &:nth-of-type(2n + 3) > .section__advantages-text {
            &::after {
                width: 47px;
                height: 47px;
            }
        }
        &:nth-of-type(5) > .section__advantages-text {
            &::after {
                bottom: -30px;
                right: -30px;
            }
        }
        &:nth-of-type(3) > .section__advantages-text {
            &::after {
                top: -30px;
                right: -30px;
            }
        }
    }
}
.section__advantages-nav {
    width: 20px;
    height: 20px;
    top: calc(50% + 10px);

    @media (min-width: $tablet-width) {
        display: none;
    }

    &--next {
        &::after {
            background: url('../img/section/section__advantages-nav--next.svg') no-repeat;
            background-size: contain;
            background-position-x: right;
        }
    }
    &--prev {
        &::after {
            background: url('../img/section/section__advantages-nav--prev.svg') no-repeat;
            background-size: contain;
            background-position-x: left;
        }
    }
}
.section__additional-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 10px;

    @media (min-width: $tablet-width) {
        flex-wrap: nowrap;
        justify-content: start;
        column-gap: 0;
    }

    &::after {
        content: '';
        width: 100%;
        order: 0;

        @media (min-width: $tablet-width) {
            display: none;
        }
    }
}
.section__additional-item {
    flex-basis: 45%;

    @media (min-width: 330px) {
        flex-basis: 150px;
    }

    @media (min-width: $tablet-width) {
        flex-basis: auto;
    }

    &:nth-of-type(2), &:nth-of-type(3) {
        order: 1;
    }
    &:nth-of-type(-n + 2) {
        margin-bottom: 30px;
    }
}
.section__additional-nav {
    display: none;

    @media (min-width: $tablet-width) {
        display: flex;
        width: 85px;
        height: 47px;
        background-color: $main;
        top: 294px;
        box-shadow: 2px 2px 5px rgba(81, 74, 126, 0.2);
    }

    &::after {
        display: none;
    }
}
.section__additional-arrow {
    width: 46px;

    & > g > path {
        fill: $accent;
    }
}
.section__additional-nav--prev {
    & .section__additional-arrow {
        transform: rotate(180deg);
    }
}