.section {
    position: relative;
}
.section__title {
    @include fontRoboto(300, 25px, 22px, $second);
    text-align: center;
    padding-bottom: 30px;

    @media (min-width: $tablet-width) {
        text-align: left;
        font-size: 40px;

        &:first-of-type {
            padding-bottom: 94px;
        }
    }
}
.section__advantages-swiper {
    width: calc(100% - 2 * 20px);

    @media (min-width: $tablet-width) {
        width: 100%;
        min-width: $tablet-width;
        max-width: 1029px;
        margin: 0;
        overflow: visible;
    }
}
.section__advantages-list {
    @media (min-width: $tablet-width) {
        flex-wrap: wrap;
        justify-content: flex-start;
        row-gap: 98px;
    }
}
.section__advantages-text {
    @include fontRoboto(300, 14px, 16px, $main);
    text-align: center;

    @media (min-width: $tablet-width) {
        width: 184px;
        color: $font;
        text-align: left;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            background-color: $accent;
            border-radius: 50%;
            box-shadow: 0px 4px 10px rgba(81, 74, 126, 0.4);
        }
    }
}
.section__advantages-item {
    background-color: $accent;
    display: block;
    width: 150px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 25px 8px;

    @media (min-width: $tablet-width) {
        background-color: transparent;
        padding: 0;
        height: auto;
        width: auto;

        &:nth-of-type(-n + 2) > .section__advantages-text, &:nth-of-type(5) > .section__advantages-text {
            width: 175px;
        }
        &:nth-last-of-type(-n + 2) {
            flex-basis: 45%;
        }
        &:nth-of-type(-n + 4) {
            justify-content: flex-start;
            flex-basis: 25%;
        }
        &:first-of-type > .section__advantages-text, &:last-of-type > .section__advantages-text {
            &::after {
                width: 28px;
                height: 28px;
            }
        }
        &:first-of-type > .section__advantages-text {
            &::after {
                bottom: -14px;
                right: 40px;
            }
        }
        &:last-of-type > .section__advantages-text {
            &::after {
                top: -8px;
                right: -10px;
            }
        }
        &:nth-of-type(2n + 3) > .section__advantages-text {
            &::after {
                width: 47px;
                height: 47px;
            }
        }
        &:nth-of-type(5) > .section__advantages-text {
            &::after {
                bottom: -30px;
                right: -30px;
            }
        }
        &:nth-of-type(3) > .section__advantages-text {
            &::after {
                top: -30px;
                right: -30px;
            }
        }
    }
}
.section__advantages-nav {
    width: 20px;
    height: 20px;
    top: 100px;

    @media (min-width: $tablet-width) {
        display: none;
    }

    &--next {
        &::after {
            background: url('../img/section/section__advantages-nav--next.svg') no-repeat;
            background-size: contain;
            background-position-x: right;
        }
    }
    &--prev {
        &::after {
            background: url('../img/section/section__advantages-nav--prev.svg') no-repeat;
            background-size: contain;
            background-position-x: left;
        }
    }
}